@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .index {
      border-radius: 100%;
      background-color: #409eff;
      min-width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#fff;
      margin-right: 8px;
    }
    /* ... */
  }

body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.dragDomRight {
    width: 5px;
    height: 100%;
    &:hover,&:active,&:focus {
        background-color: #409eff;
    }
}
.dragDomTop {
    width: 100%;
    height: 5px;
    &:hover,&:active,&:focus {
        background-color: #409eff;
    }
}